name: Build kpm patch binaries

on:
  workflow_dispatch:
  workflow_call:
    

jobs:
  build-patch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0 # fetch full history

      - name: Build patch elf binaries ...
        run: |
          
          bash ./build.sh
          mkdir release
          mv patch_linux release/
          
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4.6.2
        with: 
          name: patch_linux_android
          path: release/*
